@font-face {
    font-family: 'JetBrains Mono', monospace;
    src: url("../font/QuiteMagicalRegular-8VA2.ttf");
}
* {
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    box-sizing: border-box;
    font-size: xx-large;
}

.error-container {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}

span {
    color: red;
}

.back-btn {
    margin-top: 20px;
}
.back-btn:hover {
    cursor: pointer;
}